<?xml version="1.0" encoding="utf-8"?>

<SecurityConfiguration DefaultRoleForNonAuthenticatedClients="Operator">
   <Certificate StoreLocation="LocalMachine" StoreName="KUKA Roboter GmbH" FindType="FindByThumbprint"
      FindValue="CE31A31BCD9438EBBBBF7C0512BAEFDA095BABFF"/>
   <Roles>
      <!-- To use windows built-in groups independent from the system's language set IsWindowsBuiltInGroup to true and define WindowsGroupName to one of: "
             Administrator, User, Guest, PowerUser, AccountOperator, SystemOperator, PrintOperator, BackupOperator, Replicator.-->
      <Role Name="Operator" WindowsUserGroup="KRC_ADMINISTRATORS"/>
      <Role Name="Operator" WindowsUserGroup="KRC_EXPERTPROGRAMMERS"/>
      <Role Name="Operator" WindowsUserGroup="Administrator" IsWindowsBuiltInGroup="true"/>
   </Roles>
</SecurityConfiguration>